.Page {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;

  &_topic {
    margin: 3rem 0;
  }

  &_description {
    margin-bottom: 3rem;
  }

  &_field {
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.Btn {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  padding: 0.3rem;
  border: none;
  background-color: inherit;

  :hover {
    background-color: rgb(202, 206, 206);
  }

  :disabled:hover {
    background-color: inherit;
  }
}

.Winner {
  color: red;
  //background-color: yellowgreen;
}
